.page-active {
  background-color: aqua;
}

.header {
  display: flex;
  align-items: center;

  h1 {
    margin-left: 1em;
    font-size: x-large;
  }
}

.p-sidebar-header>div:nth-child(1) h1 {
  font-family: monospace;
  margin-left: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  p-button {
    margin-bottom: 1em;
  }
}

.btn {
  margin-bottom: 5px;
  display: inline-block;
}