.favorites-films > div,
.watchlist-films > div {
  display: flex;
  overflow: scroll;
}
.film-listing{
  display: flex;
  flex-wrap: wrap;
}
.img-container img {
  height: auto;
  object-fit: contain;
  aspect-ratio: auto 2/3;
}


