<h1>movie-list works!</h1>

<app-movie-card (addWatchList)="addToWatchList(movie.id)" (addFavourite)="addToFavorites(movie.id)" [movieData]="movie"
  class="watchlist-films"></app-movie-card>


@if(filmIdsFav[0] === movie.id){
<section class="favorites-films">
  <h2>Favorites films</h2>
  <div>
    @for (item of filmIdsFav; track item.id) {
    <article>
      <div class="img-container">
        <img sizes="(max-width: 767px) 30vw, 50vw" fetchpriority="high" decoding="async" [src]="movie.img.src"
          [alt]="movie.img.alt" [srcset]="movie.img.srcset">
      </div>
      <h3>{{ movie.title }}</h3>
    </article>
    }
  </div>
</section>
}

@if(filmIdsWatch[0] === movie.id){
<section class="watchlist-films">
  <h2>Watch list</h2>
  <div>
    @for (item of filmIdsWatch; track item.id) {
    <article>
      <div class="img-container">
        <img sizes="(max-width: 767px) 30vw, 50vw" fetchpriority="high" decoding="async" [src]="movie.img.src"
          [alt]="movie.img.alt" [srcset]="movie.img.srcset">
      </div>
      <h3>{{ movie.title }}</h3>
    </article>
    }
  </div>
</section>
}