<h1>movie-list</h1>

<mat-grid-list cols="4" rowHeight="1:2">
  @for (movie of moviesList; track movie.id) {
  <mat-grid-tile>
    <article>
      <app-material-movie-card (addWatchList)="addToWatchList(movie.id)" (addFavourite)="addToFavorites(movie.id)"
        class="watchlist-films" [movieData]='movie'></app-material-movie-card>
    </article>
  </mat-grid-tile>
  }
</mat-grid-list>

@if (filmIdsFav.length > 0) {
<section class="watchlist-films">
  <h2>Favorites films</h2>
  <div>
    @for (movie of moviesList; track movie.id) {
    @for (idF of filmIdsFav; track $index) {
    @if(idF === movie.id){
    <article>
      <app-material-movie-card [movieData]='movie'></app-material-movie-card>
    </article>
    }
    }
    }
  </div>
</section>
}


@if (filmIdsWatch.length > 0) {
<section class="favorites-films">
  <h2>Watch list</h2>
  <div>
    @for (movie of moviesList; track movie.id) {
    @for (idW of filmIdsWatch; track $index) {
    @if(idW === movie.id){
    <article>
      <app-material-movie-card [movieData]='movie'></app-material-movie-card>
    </article>
    }
    }
    }
  </div>
</section>
}