<p-menubar class="menubar" [model]="items">
  <ng-template pTemplate="item" let-item>
    <ng-container *ngIf="item.route; else urlRef">
      <a [routerLink]="item.route" class="p-menuitem-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-container>
    <ng-template #urlRef>
      <a
        *ngIf="item.url; else noLink"
        [href]="item.url"
        class="p-menuitem-link"
      >
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-template>
    <ng-template #noLink>
      <div class="p-menuitem-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
        <span class="pi pi-fw pi-angle-down ml-2"></span>
      </div>
    </ng-template>
  </ng-template>
  <form
    role="search"
    class="form"
    [formGroup]="searchRow"
    (ngSubmit)="onSubmit()"
  >
    <input
      placeholder="Search movie by name..."
      formControlName="search"
      aria-label="serch"
      type="search"
      pInputText
      size="25"
    />
  </form>
</p-menubar>

@if (isSearch && filteredMovies) {
  <div class="movie-list">
    @for (movie of filteredMovies; track movie.id) {
      <app-movie-card [movieData]="movie"></app-movie-card>
    }
  </div>
}
