.sort{
  display: flex;
}
header{
  margin-bottom: 5px;
}
footer {
  text-align: center;

  small {
    font-family: monospace;
    color: #777;
  }
}
.search-row{
    display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
}

