.img-container img {
  height: auto;
  object-fit: contain;
  aspect-ratio: auto 2/3;
}
.img-container img::before {
  display: inline-block;
}
.img-container {
  max-width: 100%;
  display: inline-block;
}
article > h2 {
  display: inline-block;
  color: green;
}
article > h2 strong {
  text-align: center;
  display: block;
  font-family: monospace;
  color: gray;
}
article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a,
button:hover {
  cursor: pointer;
}

.icons-parent {
  display: flex;
  align-items: center;
}
.icons {
  display: inline-block;
  margin: 0 10px 0px 10px;
}
.icons__favorite::after {
  content: "";
  background-image: url("../../../assets/icons/favorite_icon.svg");
  width: 24px;
  height: 24px;
  display: inline-block;
  border: none;
  margin: 0 10px 0px 10px;
}
.icons__watch-list::after {
  content: "";
  background-image: url("../../../assets/icons/list_icon.svg");
  width: 24px;
  height: 24px;
  display: inline-block;
  border: none;
  margin: 0 10px 0px 10px;
}
