<p-card class="card" [header]="movieData.title" [subheader]="movieData.year">
  <ng-template pTemplate="header">
    <img
      (click)="openMovieCard()"
      fetchpriority="high"
      decoding="async"
      alt="movieData.title"
      [src]="movieData.poster"
    />
  </ng-template>

  <div class="card__rating rating">
    <p-rating
      (mouseleave)="mouseover()"
      (mouseenter)="mouseenter()"
      stars="5"
      [(ngModel)]="value"
      [readonly]="true"
      [cancel]="false"
    />
    @if (isShowRating) {
      <p-badge class="rating__badge" [value]="movieData.rating" />
    }
  </div>

  <ng-template pTemplate="footer">
    <div class="card__action">
      <p-button (click)="showDialog()" label="Show detailse" />

      <p-dialog
        class="card__action modal"
        (mouseenter)="showLink()"
        (mouseleave)="hideLink()"
        [header]="movieData.title"
        [modal]="true"
        [(visible)]="isVisible"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
      >
        <p-button (click)="openMovieCard()">Go to film</p-button>
        <dl class="modal__content">
          <dt>Director</dt>
          <dd>{{ movieData.director }}</dd>
          <dt>Actors</dt>
          <dd>
            <ul>
              @for (actor of movieData.actors; track movieData.id) {
                <li>{{ actor }}</li>
              }
            </ul>
          </dd>
          <dt>Country</dt>
          <dd>{{ movieData.country }}</dd>
          <dt>Language</dt>
          <dd>{{ movieData.language }}</dd>
          <dt>boxOffice</dt>
          <dd>{{ movieData.boxOffice }}</dd>
          <dt>Movie duration</dt>
          <dd>{{ movieData.runtime | convertingMinutesToHours }}</dd>
        </dl>
      </p-dialog>
    </div>

    <div class="card__tags">
      @for (genre of movieData.genre; track movieData.id) {
        <p-tag [value]="genre" />
      }
    </div>
  </ng-template>
</p-card>
