.img-container img{
  width: 100%;
  height: auto;
  object-fit: contain;
}
.img-container img::before {
 display: inline-block;
}
.img-container{
  max-width: 100%;
  display: inline-block;
}
article > h2{
  display: inline-block;
  color: green;
}
article>h2 strong {
  text-align: center;
  display: block;
  font-family: monospace;
  color: gray;
}
article{
  display: flex;
  flex-direction: column;
  align-items: center;
}
a:hover{
  cursor: pointer;
}
.icons svg{
  margin: 0 10px 0px 10px;
}
.icons-parent{
  display: flex;
  align-items: center;
}
.icons{
  display: inline-block;
  margin: 0 10px 0px 10px;
}
