<article>
  <div class="img-container">
    <img sizes="(max-width: 767px) 100vw, 30vw" fetchpriority="high" decoding="async" [src]="movieData.img.src"
      [alt]="movieData.img.alt" [srcset]="movieData.img.srcset">
  </div>

  <h2><a href="/">{{movieData.title}}</a><br><strong>{{movieData.release_date}}</strong></h2>

  <div class="icons-parent">
    <div class="icons">
      <button title="add to favorite" type="button" class="icons__favorite" (click)="addToFavourite()"></button>
      <button title="add to watch list" type="button" class="icons__watch-list" (click)="addToWatchList()"></button>
    </div>
    <small>Рейтинг: {{movieData.rating}}</small>
  </div>

  <p>{{movieData.overview}} <a href="/">Детальніше</a></p>

  <dl>
    <dt>режисер</dt>
    <dd>test</dd>
    <dt>тривалість</dt>
    <dd>test</dd>
    <dt>вікові обмеження</dt>
    <dd>test</dd>
  </dl>

</article>